@use '../../abstracts/variables' as vars;
@use '../../abstracts/placeholderSelectors';

.news-category {
  &__heading {
    padding-block: vars.$medium-gap;
    text-transform: uppercase;
  }

  &-feature {
    padding-bottom: vars.$small-gap;
    @extend %border-bottom;
  }
}
