@use '../../abstracts/variables' as vars;
@use '../../abstracts/placeholderSelectors';

/*==============Featured==============*/

section {
  margin-block: vars.$medium-gap;
}

.featured {
  &__top,
  &__bottom {
    @extend %border-bottom;
    margin-bottom: vars.$regular-gap;
  }
}

.market,
.agriculturue {
  margin-block: vars.$medium-gap;
}

.news__heading {
  margin-bottom: vars.$regular-gap;
}

.news__link {
  text-transform: uppercase;
  font-size: vars.$larger-font-size;
  font-weight: 500;
  color: vars.$primary-color;

  & > i {
    margin-right: 8px;
  }
}
