@use '../abstracts/variables' as vars;

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: vars.$medium-gap;

  &--no-gap {
    grid-gap: 0;
  }

  &--12 {
    grid-template-columns: repeat(12, 1fr);
  }

  &--span-2 {
    grid-column: span 2;
  }

  &--span-3 {
    grid-column: span 3;
  }

  &--span-4 {
    grid-column: span 4;
  }

  &--span-5 {
    grid-column: span 5;
  }

  &--span-7 {
    grid-column: span 7;
  }
}
