@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mixs;
@use '../abstracts/placeholderSelectors';

.header {
  $form-gap: calc((vars.$regular-gap / 2));

  @extend %darkgreen-white;

  &__top {
    column-gap: calc(vars.$medium-gap * 2);
    padding-block: vars.$small-gap;
  }

  &__search {
    flex: 1;
  }

  &__form {
    height: 40px;
    background-color: vars.$inner-text-color;
    border-radius: vars.$small-radius;
    overflow: hidden;
  }

  &__input {
    flex: 1;
    padding: $form-gap;
  }

  &__btn {
    margin-right: vars.$small-radius;
    padding-inline: vars.$small-gap;
  }

  &__control {
    text-align: right;
  }

  &__nav {
    padding-bottom: vars.$small-gap;
  }

  &__heading {
    margin-left: vars.$medium-gap;
    text-transform: none;
    font-weight: 500;
    color: vars.$primary-color;
  }

  &--second {
    padding-block: vars.$small-gap;
    background-color: vars.$inner-text-color;
    color: vars.$primary-color;
  }

  &--second &__container,
  &__top,
  &__form {
    display: flex;
    align-items: center;
  }

  &--second &__logo > a {
    margin-inline: 0;
  }
}
