@use '../abstracts/variables' as vars;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all ease-in-out 0.25s;
}

::selection {
  color: vars.$text-color;
  background-color: vars.$selection-bg-color;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: vars.$small-radius;
}

::-webkit-scrollbar-thumb {
  background: vars.$primary-color;
  border-radius: vars.$small-radius;
}

::-webkit-scrollbar-thumb:hover {
  background: vars.$selection-bg-color;
}

textarea::-webkit-scrollbar {
  width: 4px;
}

html {
  scroll-behavior: smooth;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

input,
textarea {
  font-family: inherit;
  outline: none;
  border: 0;
  font-size: inherit;
  letter-spacing: inherit;
}

textarea {
  resize: none;
}

i {
  transition: none;
}

.blur {
  filter: blur(vars.$blur);
}
