@use '../abstracts/variables' as vars;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all ease-in-out 0.25s;
}

::selection {
  color: vars.$text-color;
  background-color: vars.$selection-bg-color;
}

html {
  scroll-behavior: smooth;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

input {
  outline: none;
  border: 0;
  font-size: inherit;
  letter-spacing: inherit;
}

i {
  transition: none;
}
