@use '../abstracts/placeholderSelectors';
@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mixs;

.btn {
  position: relative;
  z-index: 1;
  border-radius: 2px;

  background: none;
  color: vars.$inner-text-color;
  border: 0;

  font-size: inherit;
  letter-spacing: inherit;
  cursor: pointer;
  outline: none;

  &--large {
    @include mixs.set-height(48px);
  }

  &--medium {
    @include mixs.set-height(40px);
  }

  &--small {
    @include mixs.set-height(32px);
  }

  &--primary::before {
    content: '';

    position: absolute;
    inset: 0;
    z-index: -1;

    border-radius: inherit;
    @include mixs.set-inset-shadow(vars.$large-spread, vars.$primary-color);
  }

  &--primary:hover {
    color: vars.$primary-color;
  }

  &--primary:hover::before {
    @include mixs.set-inset-shadow(vars.$small-spread, vars.$primary-color);
  }

  &--second {
    color: vars.$text-color;
  }
}
