@use '../abstracts/placeholderSelectors';
@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mixs;

.btn {
  border: 1px solid vars.$boder-color;
  border-radius: 2px;
  background-color: white;
  color: inherit;

  font-size: inherit;
  letter-spacing: inherit;
  cursor: pointer;
  outline: none;

  &--large {
    @include mixs.set-height(48px);
  }

  &--medium {
    @include mixs.set-height(40px);
  }

  &--small {
    @include mixs.set-height(32px);
  }

  &--primary {
    @extend %darkgreen-white;
  }

  &:hover {
    border-color: vars.$primary-color;
    color: vars.$primary-color;
  }
}
