@use '../abstracts/variables' as vars;

.link {
  position: relative;
  color: inherit;

  &--primary {
    color: vars.$primary-color;
  }

  &--second {
    color: vars.$second-color;
  }

  &--regular:hover {
    color: vars.$inner-text-hover-color;
  }

  &::after {
    content: '';

    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1px;

    background-color: currentColor;
  }

  &:hover::after {
    width: 100%;
  }
}
