@use '../abstracts/variables' as vars;

.nav {
  text-align: center;

  &__link {
    text-transform: uppercase;
    letter-spacing: vars.$large-spacing;

    & ~ & {
      margin-left: vars.$small-gap;
    }
  }
}
