@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
/*========================Typhography========================*/
.content, .header, ::selection, .btn--primary {
  background-color: darkgreen;
  color: white;
}

.logo > a, .form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  border-radius: 2px;
  border: 0;
  font-size: inherit;
  letter-spacing: inherit;
  cursor: pointer;
  outline: none;
}
.btn--large {
  height: 48px;
  line-height: 48px;
}
.btn--medium {
  height: 40px;
  line-height: 40px;
}
.btn--small {
  height: 32px;
  line-height: 32px;
}
.btn:hover {
  border-color: darkgreen;
  color: darkgreen;
}

.form {
  width: fit-content;
  margin-inline: auto;
  padding: 30px;
  color: #212529;
  background-color: white;
  border-radius: 4px;
  box-shadow: rgba(33, 37, 41, 0.2) 0px 3px 10px 0px;
}
.form__heading {
  margin-bottom: 24px;
  font-weight: 400;
  color: darkgreen;
}
.form__field {
  position: relative;
  margin-bottom: 15px;
  height: 40px;
  width: 450px;
}
.form__label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  z-index: 1;
  color: #212529;
  pointer-events: none;
}
.form__input, .form__submit {
  position: absolute;
  inset: 0;
  padding: 12px;
  border-radius: 4px;
  font-size: 1.4rem;
  letter-spacing: 0.1em;
}
.form__input {
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.form__input:focus {
  border: 1px solid darkgreen;
  box-shadow: 0 0 4px #75e718;
}
.form__input:not(:placeholder-shown) + .form__label, .form__input:focus + .form__label {
  top: 0;
  left: 8px;
  padding: 0 4px;
  background-color: white;
  color: darkgreen;
}
.form__submit {
  text-transform: uppercase;
}
.form__submit:hover {
  color: white;
  opacity: 0.8;
}
.form__split {
  position: relative;
  padding-block: 24px;
  color: #ccc;
}
.form__split::after {
  content: "";
  position: absolute;
  inset: 50% 0 0 0;
  transform: translateY(-50%);
  z-index: 1;
  height: 1px;
  background-color: currentColor;
}
.form__split > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding-inline: 15px;
  text-transform: uppercase;
  font-weight: 500;
  background-color: white;
}
.form__socials {
  display: flex;
  column-gap: 24px;
  margin-block: 15px 24px;
}
.form__btn {
  flex: 1;
  column-gap: 8px;
  padding-inline: 15px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.form__btn:hover {
  border-color: rgba(0, 0, 0, 0.25);
  background-color: #eee;
  color: #212529;
}
.form__icon {
  font-size: 22px;
}
.form__icon--fb {
  color: #1877f2;
}
.form__mesage {
  text-align: center;
}
.form__mesage > span {
  color: #ccc;
}
.form__link {
  position: relative;
  color: darkgreen;
}
.form__link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: darkgreen;
}
.form__link:hover::after {
  width: 100%;
}

.logo {
  margin-bottom: 30px;
}
.logo > a {
  width: fit-content;
  margin-inline: auto;
}
.logo > a > img {
  width: 50px;
  height: 50px;
  margin-right: 8px;
}
.logo > a > span {
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all ease-in-out 0.25s;
}

html {
  scroll-behavior: smooth;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

input {
  outline: none;
  border: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  line-height: 1.6;
  letter-spacing: 0.035em;
  color: #212529;
}

h1 {
  font-size: 3.2rem;
  text-transform: uppercase;
  font-weight: 600;
}

h4 {
  font-size: 2.4rem;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

.grid {
  display: grid;
  grid-auto-rows: 1fr;
}
.grid--2 {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
.grid--5 {
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
}

.header--second {
  background-color: white;
  color: #212529;
}
.header__top {
  padding-block: 8px;
}
.header__time {
  font-size: 1.4rem;
}
.header__control {
  text-align: right;
}
.header__btn {
  border: none;
  background-color: inherit;
}
.header__btn:hover {
  color: #e9da5d;
}
.header--second .header__logo > a > span {
  color: darkgreen;
}

.content {
  padding-block: 110px;
}

/*==============Components==============*/
/*==============Core==============*/
/*==============Layouts==============*/
/*==============Sections==============*/
/*==============Pages==============*/

/*# sourceMappingURL=main.css.map */
