@use '../abstracts/variables' as vars;
@use '../abstracts/placeholderSelectors';

.detail-content {
  $opacity: 0.8;

  padding-bottom: vars.$medium-gap;
  font-size: vars.$regular-font-size;
  text-align: justify;

  @extend %border-bottom;

  &__heading {
    margin-bottom: vars.$medium-gap;
    font-size: vars.$largest-font-size;
    font-weight: 500;
    text-transform: unset;
  }

  &__intro {
    @extend %mb-regular;

    font-weight: 700;
  }

  &__title {
    @extend %mb-regular;

    font-weight: 700;
  }

  &__blockquote {
    @extend %mb-regular;

    padding: vars.$small-gap;

    @extend %darkgreen-white;

    & > q {
      font-weight: 500;
      font-style: italic;
    }

    & > p {
      margin-top: vars.$small-gap;
    }
  }
}

.detail-comment {
  @extend %border-bottom;

  padding-block: vars.$medium-gap vars.$small-gap;

  &__form {
    width: 100%;
  }

  &__field {
    min-height: vars.$large-gap;
  }

  &__input {
    overflow: auto;
  }

  &__group {
    display: flex;
    justify-content: flex-end;
    column-gap: vars.$small-gap;

    &--second {
      justify-content: flex-start;
      margin-block: vars.$small-gap vars.$regular-gap;
    }
  }

  &__btn {
    position: relative;
    width: fit-content;
    min-width: vars.$large-gap;
  }

  &__item {
    display: flex;
    column-gap: vars.$small-gap;
  }

  &__heading {
    margin-bottom: vars.$small-gap;
  }

  &__name {
    font-weight: 500;
    color: vars.$second-color;
  }

  &__time {
    margin-left: vars.$small-gap;
    font-size: vars.$smallest-font-size;
    font-weight: 500;
  }

  &__text {
    font-size: vars.$regular-font-size;
  }
}

.detail-other {
  &__list {
    padding-bottom: vars.$medium-gap;
  }
}
